<!DOCTYPE html>
<html lang="$lang$" $if(dir)$ dir="$dir$" $endif$>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Web Demos</title>
    <link rel="icon" type="image/png" href="../imgs/logo.png" />
    <link rel="stylesheet" href="../page-styles.css" />
  </head>

  <body>
    $body$

    <footer>
      &copy; <span id="year"></span> <a href="https://cantus.us/msac/" target="_blank">Sable Cantus</a> | 
      <a href="https://msac-cisw.github.io/cisw17-demos/">Web Demos</a>
    </footer>
    <script>
      const currentYear = new Date().getFullYear();
      document.getElementById("year").textContent = currentYear;
    </script>
  </body>
</html>
